{% extends 'proyecto/layout.html' %}

{% block contenido %}
    <h1 style="text-align:center">¿Estás seguro de querer alquilar este libro?</h1>
    <table class="table table-info table-striped" style="margin:auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>AUTOR</th>
                <th>DISPONIBILIDAD</th>
                <th>CATEGORÍA</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{% if libro.disponible %}
                        Disponible
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
                <td>{{ libro.categoria }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block formulario %}
    <form action="{% url 'prestamos.crear' libro.id %}" method="post">
        {% csrf_token %}
        <div class="centrarBotones">
            <input type="submit" class="btn btn-outline-danger" value="Sí, alquilar">
        </div>
    </form>
    <div class="centrarBotones">
        <a class="nav-link" href="{% url 'prestamos.index' %}"><button class="btn btn-outline-secondary">No, volver a inicio</button></a>
    </div>
{% endblock %}