{% extends 'proyecto/layout.html' %}

{% block contenido %}
    {% if messages %}
        <div class="container mt-2">
            {% for message in messages %}
                <div class="alert 
                            {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} 
                            alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h1>Mis préstamos</h1>
    {% if prestamos %}
        <table class="table table-info table-striped" style="margin:auto">
            <thead>
                <tr>
                    <th>LIBRO</th>
                    <th>FECHA DEL PRÉSTAMO</th>
                    <th>OPERACIONES</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for prestamo in prestamos %}
                    <tr>
                        <td>{{ prestamo.libro.titulo }}</td>
                        <td>{{ prestamo.fecha_prestamo }}</td>
                        <td style="width: fit-content;">
                            <a href="{% url 'prestamos.actualizar' prestamo.id %}"><button class="btn btn-outline-success" style="margin-right:5px">Devolver</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes préstamos.</p>
    {% endif %}
    <h1>Catálogo de libros</h1>
    {% if libros %}
        <table class="table table-info table-striped" style="margin:auto">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TÍTULO</th>
                    <th>AUTOR</th>
                    <th>DISPONIBILIDAD</th>
                    <th>CATEGORÍA</th>
                    <th>OPERACIONES</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{% if libro.disponible %}
                                Disponible
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>{{ libro.categoria }}</td>
                        <td style="width: fit-content;">
                            {% if libro.disponible %}
                                <a href="{% url 'prestamos.crear' libro.id %}"><button class="btn btn-outline-success" style="margin-right:5px">Alquilar</button></a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>El catálogo de libros está vacío.</p>
    {% endif %}
{% endblock %}