<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 subfooter">
        <div id="sub2footer1">
          <div id="sub3footer1">
            <h5>El Rincón del Lector</h5>
            <p>Calle San Roque, 26
              <br>
                45860 Villacañas
              <br>
                Toledo, España
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 subfooter">
        <div id="sub2footer2">
          <div id="sub3footer2">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li>+34 612 345 678</li>
              <li>elrincondellector@gmail.com</li>
              <li><a href="{% url 'cuentas.contacto' %}" class="text-light me-2">Formulario</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 subfooter">
        <div id="sub2footer3">
          <div id="sub3footer3">
            <h5>Síguenos</h5>
            <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i>X</a>
            <br>
            <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i>Instagram</a>
            <br>
            <a href="#" class="text-light"><i class="bi bi-github"></i>Facebook</a>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-secondary">
    <div class="text-center">
      © 2026 Javier Morales Simón
    </div>
  </div>
</footer>
